<%= link_to course_url(course) ,class:'course-l' do%>
<div class="c4rd">
  <div class="eaeSkS">
    <div class="jVgLJd">
      <%= image_tag course.img_course, width: "100%", height: "200px" if course.img_course.attached?%>
    </div>
  </div>
    <span class="gUwoNY"><%=course.questions.count%> questions</span>
  <div class="hxYrsi">
    <!-- <div class="css-4v50qp"> -->
      <div class="in4"><%= course.title %></div>
      <div class="infor"><span><%= course.description %></span></div>
    <!-- </div> -->
  </div>
</div>
<%end%>
<script type="text/javascript">
  $(document).ready(function(){
    var availableTags = [];
      $(".in4").each(function(){
        availableTags.push($(this).text());
      });
      console.log(availableTags);
    $( ".search-field" ).autocomplete({
      source: availableTags
    });
  });
</script>
